<!DOCTYPE html>
<html>
  <head>
    <title>PostBootstrapApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- リンクをカットし次に置き換える -->
    <%= render "layouts/header" %>
    <!-- 以上を追加 -->
    <%= yield %>
  </body>
</html>
